/* TASK 2 */
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
	position: relative;
	background-color: #fefefe;
	margin: 15% auto;
	padding: 20px;
	max-width: 300px;
	text-align: center;
}

.close {
	right: 10px;
	top: 5px;
	position: absolute;
	cursor: pointer;
	color: black;
}

/* TASK 3 */

#football-field {
	width: 98vw;
	height: 100vh;
	background-color: green;
	position: relative;
	overflow: hidden;
}
#goal-left,
#goal-right {
	width: 10px;
	height: 120px;
	background-color: white;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
#goal-left {
	left: 0;
}
#goal-right {
	right: 0;
}
#football {
	width: 100px;
	height: 100px;
	background-color: white;
	background: rgb(2, 1, 17);
	background: linear-gradient(
		90deg,
		rgba(2, 1, 17, 1) 9%,
		rgba(255, 255, 255, 0.9882003826921394) 18%,
		rgba(0, 0, 0, 1) 28%,
		rgba(235, 230, 230, 1) 41%,
		rgba(6, 8, 9, 1) 51%,
		rgba(1, 14, 19, 1) 60%,
		rgba(232, 239, 241, 1) 68%,
		rgba(4, 11, 13, 1) 77%,
		rgba(214, 224, 227, 1) 88%,
		rgba(15, 20, 22, 1) 95%
	);
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: top 0.5s ease-in-out, left 0.5s ease-in-out;
}

/* TASK 4 */

.traffic-light {
	width: 100px;
	height: 200px;
	background-color: black;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 15px;
	gap: 10px;
}

.traffic-light .light {
	width: 80px;
	height: 80px;
	border-radius: 50%;
}

.red {
	background-color: red;
}

.yellow {
	background-color: yellow;
}

.green {
	background-color: green;
}

.button {
	width: 100px;
	height: 40px;
	background-color: blue;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 20px;
}

/* TASK 5 */

.book-list {
	list-style-type: none;
	padding: 0;
}

.book-list li {
	cursor: pointer;
	padding: 10px;
	margin: 5px;
	background-color: #f8f8f8;
}

.book-list li.selected {
	background-color: orange;
}

/*  TASK 6 */

.btn {
	display: inline-block;
	padding: 10px;
	margin: 5px;
	background-color: #f8f8f8;
	position: relative;
	cursor: pointer;
}

.tooltip {
	position: absolute;
	z-index: 1;
	width: 200px;
	background-color: #333;
	color: #fff;
	padding: 10px;
	font-size: 14px;
	text-align: center;
	border-radius: 4px;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
}

.tooltip.bottom {
	top: 100%;
}

.tooltip.top {
	bottom: 100%;
}

.btn:hover .tooltip {
	opacity: 1;
}

/* TASK 7 */

ul {
	list-style-type: none;
	padding-left: 20px;
}
li {
	cursor: pointer;
	font-weight: normal;
}
li:hover {
	font-weight: bold;
}
.collapsed:before {
	content: "+ ";
}
.expanded:before {
	content: "- ";
}
ul ul {
	display: none;
}
.expanded ul {
	display: block;
}
/* TASK 8 */

.resizable-box {
	width: 300px;
	min-height: 200px;
	min-width: 200px;
	height: 200px;
	border: 1px solid #000;
	resize: both;
	overflow: auto;
	padding: 10px;
	margin: 100px;
}
